body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 400px;
  margin: 0 auto;
}

form.todo-input {
  display: flex;
}

form input {
  flex: 1 1 100%;
}

form button {
  flex: 1 3 100%;
  border: none;
  background: lightsteelblue;
  border-radius: .25rem;
}

.todo-list {
  padding: 0;
}

.todo {
  display: flex;
  margin: .25rem 0;
}

.todo:nth-child(2n) {
  background: #EEE;
}

.todo label {
  flex: 1 1 100%;
}

.todo label.completed {
  text-decoration: line-through;
  color: gray;
}

.todo button {
  background: tomato;
  border: none;
  border-radius: .25rem;
  color: #FFF;
  font-weight: bold;
}

.todo-completed {
  margin: .25rem 0;
}

.todo-completed .icon {
  background: limegreen;
  color: #FFF;
  border-radius: 100%;
  width: 22px;
  margin-right: .3rem;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
}